tfs/tfs-swift/src/test/resources/validator/shapes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        targetNamespace="http://www.shapes.com"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:shapes="http://www.shapes.com"
        elementFormDefault="qualified">

    <xs:complexType name="square">
        <xs:sequence>
            <xs:element name="side" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rectangle">
        <xs:sequence>
            <xs:element name="length" type="xs:decimal"/>
            <xs:element name="width" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>



    <xs:element name="square" type="shapes:square"/>

</xs:schema>